{% comment %}

This snippet renders a product into a product list.
By default, it's only used by the product-list.liquid snippet.

{% endcomment %}

{% assign titles = product.title | split: '-' %}
{% assign title = titles | first | strip %}
{% assign subtitle = titles | last | strip %}

<div class="product-wrapper">
    <a href="{{ product.url | within: collection }}" title="{{ title }}">
        <div class="product-image-wrapper">
            <div class="product-image" style="background-image: url('{{ product.featured_image | product_img_url: "medium" }}');">
            </div>
            <div class="product-image-hover"></div>
        </div>
    </a>
    <div class="product-description-wrapper">
        <h5>{{ title }}</h5>
        <p>{{ subtitle }}</p>
    </div>
</div>
